parameters:
    level: 6
    paths:
        - src
rules:
    - Shiiyan\MyFirstPhpStan\InstantiatePersonInFactoryRule
    - Shiiyan\MyFirstPhpStan\AssignPropertiesInsideConstructorRule
    - Shiiyan\MyFirstPhpStan\ClassRegistryInitWithEnumRule
